.likes-container {
  padding: 20px 10px;

  & > .content {
    margin-top: 20px;

    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 8px;
    }
  }
}
