.profile-container {
  padding-bottom: 40px;

  .content {
    .work {
      margin-top: 5px;
      z-index: 2;
    }
  }
}

.profile,
.requests-container,
.matches {
  position: relative;
  padding-bottom: 10px;
}

.requests-container,
.matches,
.likes {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  .content {
    position: relative;
    margin-top: 20px;
    min-height: 100px;
  }
}

.count {
  padding-left: 3px;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.profile {
  position: relative;
  text-align: left;
  height: 200px;

  & > .profile-image {
    position: absolute;
    top: 100px;
    left: 15px;
    z-index: 2;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
  }

  .content {
    position: relative;

    .username {
      position: absolute;
      top: 125px;
      left: 125px;
      font-size: 20px;
      z-index: 2;
    }

    .work {
      position: absolute;
      top: 150px;
      left: 125px;
      font-size: 13px;
    }
  }

  .setting {
    position: absolute;
    top: 50px;
    margin-top: -10px;
    right: 0;
  }
}

.profile::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
  width: 100%;
  height: 150px;
}

.requests-container {
  position: relative;
  border-bottom: 1px solid black;
  border-style: dashed solid;

  .content {
    .notification-container {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .requests {
      .request + .request {
        margin-top: 10px;
      }

      .name {
        display: inline-block;
      }
    }
  }

  .request + .request {
    margin-top: 10px;
  }
}

.matches {
  position: relative;
  border-bottom: 1px solid black;
  border-style: dashed solid;

  .content {
    .notification-container {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.likes {
  position: relative;

  .content {
    .notification-container {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.image-container {
  img {
    height: 100px;
    width: 100%;
    border-radius: 5px;
  }
}

.expand {
  position: absolute;
  top: 0px;
  right: 10px;
}

img {
  object-fit: cover;
}
